<h2>hello (text interpolation et instructions)</h2>
<app-hello></app-hello>

<h2>counter (event binding)</h2>
<app-counter></app-counter>

<h2>user-form (property binding, attr, class, style binding)</h2>
<app-user-form></app-user-form>

<h2>exercice helloworld</h2>
<app-helloworld></app-helloworld>

<h2>exercice multistatebutton</h2>
<app-multistatebutton></app-multistatebutton>

<h2>clock (detection de changement, lifecycle hooks)</h2>
<app-clock></app-clock>
<h2>clock-with-controls</h2>
<app-clock-with-controls></app-clock-with-controls>

<h2>select (directives, structural directive)</h2>
<app-select
  [items]="['Rouge', 'Vert', 'Bleu']"
  [selected]="'Vert'"
></app-select>
<app-select
  [items]="['Rouge', 'Vert', 'Bleu']"
  selected="Vert"
></app-select>

<app-select
  [items]="['Rouge', 'Vert', 'Bleu']"
  [selected]="selectedColor"
  (selectedChange)="selectedColor = $event"
></app-select>

<app-select
  [items]="['Rouge', 'Vert', 'Bleu']"
></app-select>

<app-multistatebutton
  [items]="['Rouge', 'Vert', 'Bleu']"
  [(selected)]="selectedColor"
></app-multistatebutton>

<!-- [()] BANANA IN A BOX -->

<p>Vous avez sélectionné : {{ selectedColor }}</p>
